@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  /* overflow-x: hidden; */
  background-color: #F5F7FF;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus-visible {
  outline: none;
}

.shadow {
  box-shadow: 6px 6px 12px #E9ECF6,
      -6px -6px 12px #ffffff;
  transition: box-shadow 0.5s ease-out;
}

.shadow:hover {
  box-shadow: 12px 12px 24px #E9ECF6,
      -12px -12px 24px #ffffff;
      transition: box-shadow 0.2s ease-in;
}

.shadow-inverse {
  box-shadow: 12px 12px 24px #E9ECF6,
      -12px -12px 24px #ffffff;
      transition: box-shadow 0.5s ease-in;
}

.shadow-inverse:hover {
  box-shadow: 6px 6px 12px #E9ECF6,
      -6px -6px 12px #ffffff;
  transition: box-shadow 0.2s ease-out;
}

/* .shadow-inner {
  box-shadow: inset 4px 4px 8px #E9ECF6,
    inset -4px -4px 8px #ffffff;
} */

.shadow-inner {
  box-shadow: inset 7px 7px 14px #E9ECF6,
    inset -7px -7px 14px #ffffff;
  font-size: 12px;
  transition: all 0.2s ease-in;
}

.shadow-inner:hover {
  box-shadow: inset 4px 4px 8px #E9ECF6,
    inset -4px -4px 8px #ffffff;
  font-size: 14px;
}
